# General
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
backup.env
.env.backup
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Local History for Visual Studio Code
.history/

# User related stuff
.pytest_cache/
logs/
tests.py